{% extends "base.html" %}

{% block main %}
    <h1>Каталог оружия</h1>

    <form class="panel-filter" method="GET">
        <label for="creater">Автор:</label>
        <select name="creater" id="creater">
            
        </select>

        <input type="submit" value="Найти">
    </form>

    <div class="wrap">
        {% for weapon in weapons %}
            <div class="card">
                <h2 class="name-card">{{ weapon.name }}</h2>
                <p class="description-card">{{ weapon.description }}</p>
                {% if weapon.cover %}
                <img src="weapon.cover.url" alt="{{weapon.name}}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock main %}

{% block scripts %}
    <script src="/static/loadForms.js"></script>
{% endblock scripts %}
