{% extends "base.html" %}

{% block main %}
<div class="auth-form">
    <h1>Вход</h1>
    
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            {% if field.name != 'remember_me' %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="form-group remember-me">
            {{ form.remember_me.label_tag }}
            {{ form.remember_me }}
        </div>
        
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    
    <div class="auth-links">
        Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a>
    </div>
</div>
{% endblock main %}